.card-note {
  display: inline-block !important; // Overriding bootstrap
  background: #feff9c !important; // Overriding bootstrap
  margin: 10px;
  height: 400px;
  width: 600px;

  &__title {
    padding: 0px;
  }

  &__subtitle {
    padding: 15px;
  }

  &__textarea {
    margin: 0 auto;
    height: 200px !important;
  }

  &__button {
    bottom: 0;
    margin-top: 40px;
  }

  &__button-left {
    margin-left: 45px;
    margin-bottom: 15px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__button-right {
    margin-right: 45px;
    margin-bottom: 15px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
