/* Defining the Body Color */
body {
  background: #333 !important;
}

.header-text {
  font-size: 24px;
  text-align: center;
  color: #fff;
  padding: 0 25px;
  margin-bottom: 35px;
}

.note {
  text-align: center;
}
